html, body{
	height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background: #fff;
	flex-direction: column;	
}

.conteiner {
    margin: 15px auto;
    padding: 0 ;
	max-width: 80%;
}
h1, h2, h3, h4, h5, h6{
	text-align: center;
    margin: 0;
}

h3, h1{
	font-weight: 100;
	font-size: 30px;
	border-bottom-style: solid;
	margin:  0 15%;
	padding-bottom: 15px;
	border-bottom-color: black;
	border-bottom-width: thin;
	margin-bottom: 30px;
}

h1{
	margin: 0;
	margin-bottom: 15px;
}

h2{
	position: relative;
	align-content: center;
	font-size: 50px;
	color: gold;
	left: 0;
	background-color: black;
	bottom: 150px;
}

a{
	text-decoration: none;
	color: black;
}

main{
	min-height: 80%;
	text-align: center;
	padding: 15px;
}
li{
	text-align: left;
	padding: 10px;
	padding-left: 20%;
}
form{
    margin-bottom: 0;
}
/* HEADER*/
header{
	padding: 30px 0;
	flex: 0 0 5em;
	border-bottom-color: black;
	border-bottom-width: thin;
	border-bottom-style: solid;
}

.Header_menu{
	display: flex;
	justify-content: space-between;
	align-items: center; 
}

.header{
	font-size: 40px;
	font-weight: 700;
	align-items: center;
}

.menu_link{
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center; 
}

.m_link{
	display: inline-block;
	margin: 0 20px;
	position: relative;

	text-align: center;
    transition: color .1s linear;
}

.m_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.m_link:hover {
    color: #fce38a;
}

.m_link:hover:after,
.m_link.active:after {
    opacity: 1;
}

.search{
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.search_b{
	background: white;
	border:none;

	outline: none;
}

@media (max-width: 1170px) {
	.conteiner {
		margin: 10px;
		padding: 0;
		max-width: 100%;
	}
	
		.Header_menu{
		justify-content: center;
		}
	
		.menu_link{
		flex-direction: column; 
		}
		
	.search{
		padding-top: 5px;
	}
}

@media (max-width: 706px) {
	
	.conteiner {
    margin: 0;
    padding: 0;
	max-width: 100%;
	}

	.Header_menu{
	flex-direction: column;
	}
	
	
	.m_link{
		display: flex;
		flex-direction: column;
	}
	li{
		padding-left: 0;
	}
}